.about-page {
    padding: 180px 0;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-banner {
    max-width: 1600px;
    width: 80%;
    height: min-content;
    min-height: 500px;
    background-color: #080a1a;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-banner-content {
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.about-banner-content h1 {
    font-size: 58px;
    margin: 0;
}

.about-banner-content span {
    font-weight: 400;
}

.about-banner-content p {
    font-size: 24px;
    margin: 0;
    text-align: center;
}