.recent-project-section {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-btn {
    width: 160px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 27px;
}

.recent-project-header {
    font-size: 45px;
    margin: 0;
    text-align: start;
}

.recent-project-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: start;
    align-items: start;
    width: 80vw;
}

.recent-projrct-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.project-img {
    max-width: 100%;
    border-radius: 30px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    color: white;
}

.project-img:hover {
    filter: blur(3px);
}

.project-item-text span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 2px 10px;
    background-color: white;
}

@media (max-width: 1040px) {
    .recent-project-section {
        margin-top: 40px;
    }
    .recent-project-container {
        flex-direction: column;
        width: 95vw;
    }
}

@media(max-width: 1040px) {
    
}