.who-we-are-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.who-we-are-frame .header {
    font-size: 64px;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.who-we-are-wrapper {
    width: 80%;
    background-color: #121212;
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    max-width: 1600px;
    justify-content: center;
}

.who-we-are-frame {
    background-image: url(../../assets/who-we-are-frame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 160px;
    width: 100%;
    border-radius: 36px;
}



.who-we-are-para {
    font-size: 48px;
}

.who-we-are-sm-para {
    margin-top: 4px;
    font-size: 24px;
}

@media(max-width: 1920px) {
    .who-we-are-frame {
        padding: 100px 120px;
    }
}

@media(max-width: 1040px) {
    .who-we-are-frame {
        padding: 60px 80px;
        background-image: url(../../assets//who-we-are-frame-md.png);
    }
    .who-we-are-para  {
        font-size: 32px;
    }
    .who-we-are-sm-para {
        font-size: 18px;
    }
    .who-we-are-frame .header {
        font-size: 36px;
    }
}

@media(max-width: 900px) {
    .who-we-are-frame {
        padding: 40px 40px;
        background-image: url(../../assets/who-we-are-frame-sm.png);
    }
    .who-we-are-para {
        font-size: 28px;
    }
    .who-we-are-sm-para {
        font-size: 14px;
    }
    .who-we-are-frame .header {
        font-size: 32px;
    }
}

@media(max-width: 540px) {
    .who-we-are-wrapper {
        background-color: transparent;
    }
    .who-we-are-frame {
        padding: 40px 10px;
        background-image: url(../../assets/who-we-are-frame-sm.png);
    }
    .who-we-are-para {
        font-size: 18px;
        margin: 0;
    }
    .who-we-are-sm-para {
        font-size: 12px;
    }
    .who-we-are-frame .header {
        font-size: 24px;
        margin: 0;
    }
}