.contact-us-form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us-form {
    border-radius: 36px;
    border: 1px solid white;
    padding: 64px;
    display: flex;
}