

.home-page {
    overflow-x: hidden;
}

h1 {
    margin-top: 60px;
    text-align: center;
    font-size: 64px;
    position: relative;
    z-index: 999;
}

.italic {
    font-style: italic;
    font-weight: 200;
}



.project-section {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-btn {
    border: 1px solid #fff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158px;
    height: 53px;
    border-radius: 27px;
}

.book-call {
    display: flex;
    justify-content: center;
}

.services-section {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.service-card-container {
    position: relative;
    padding-top: 40px;
    width: 80%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.services-spotlight {
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-image: radial-gradient(farthest-side, #383F79, transparent);
}


@media(max-width: 1920px) {
    .who-we-are-frame {
        padding: 100px 120px;
    }
}

@media(max-width: 1040px) {
    .who-we-are-frame {
        padding: 60px 80px;
        background-image: url(../../assets//who-we-are-frame-md.png);
    }
    .who-we-are-para  {
        font-size: 32px;
    }
    .service-card-container {
        grid-template-columns: 1fr 1fr;
    }

    .services-spotlight {
        display: none;
    }
}

@media(max-width: 900px) {
    .hero-section {
        background-image: url(../../assets/hero-bg-sm.png)
    }
    h1 {
        font-size: 48px;
    } 
    
    .who-we-are-frame {
        padding: 40px 40px;
        background-image: url(../../assets/who-we-are-frame-sm.png);
    }
    .who-we-are-para {
        font-size: 28px;
    }
    .service-card-container {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 540px) {
    .hero-section {
        background-image: url(../../assets/hero-bg-sm.png)
    }
    h1 {
        font-size: 28px;
    } 
    
    .sponsor-banner {
        width: 90vw;
    }

    .love-us-card {
        background: linear-gradient(#5566FF, #6F7BFF);
        align-items: start;
    }

    .who-we-are-wrapper {
        background-color: transparent;
    }
    .who-we-are-frame {
        padding: 20px 10px;
        background-image: url(../../assets/who-we-are-frame-sm.png);
    }
    .who-we-are-para {
        font-size: 18px;
    }

    .service-card-container {
        width: 90vw;
    }
}