
.ready-to-scale-section {
    width: 80%;
    max-width: 1600px;
    margin-top: 80px;
}

.ready-to-scale-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.ready-to-scale {
    background: url(../../assets/scale.png);
    padding: 100px 0;
    width: 100%;
    max-width: 1600px;
    min-height: 600px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.ready-to-scale-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.book-call-btn-wrapper {
    display: flex;
    cursor: pointer;
    /* position: relative; */
    width: 285px;
}

.book-call-btn {
    background-color: #ffffff;
    width: 220px;
    height: 60px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    transition: all 200ms ease-out;
}

.book-call-btn-arr {
    background-color: #ffffff;
    width: 65px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-left: 2px;
    transition: all 200ms ease-out;
}

.book-call-btn-wrapper:hover {
    .book-call-btn-arr {
        transform: translateX(-220px);
    }
    .book-call-btn {
        transform: translateX(65px);
    }
}



@media (max-width: 540px) {
    .ready-to-scale {
        padding: 0 0;
    }
}