
.ready-to-scale-section {
    width: 80%;
    max-width: 1600px;
    margin-top: 80px;
}

.ready-to-scale-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.ready-to-scale {
    background: url(../../assets/scale.png);
    padding: 100px 0;
    width: 100%;
    max-width: 1600px;
    min-height: 600px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.ready-to-scale-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}





@media (max-width: 540px) {
    .ready-to-scale {
        padding: 0 0;
    }
}