.project-page {
    padding-top: 180px;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-section {
    width: 80%;
    max-width: 1600px;
    margin-top: 80px;
}

.projects-content {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.project-sticky-text {
    position: sticky;
    top: 32px;
    font-size: 18px;
    width: 20%;
    height: fit-content;
}

.projects-content-container .project-content-header {
    margin: 0;
    text-align: left;
    font-size: 36px;
    font-weight: 400;
}

.project-content-item {
    margin-top: 60px;
}

.project-item-img {
    height: 500px;
    width: 100%;
}

.project-item-name {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}

.project-item-content {
    font-size: 20px;
}

@media(max-width: 900px) {
    .project-page {
        padding-top: 100px;
    } 
    .projects-content {
        flex-direction: column;
        gap: 20px;
    }
}
@media(max-width: 540px) {
    .project-item-img {
        height: 300px;
        width: 100%;
    }
}

