.custom-cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: rgb(255,  255, 255);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
  }
  
.project-hover {
  width: 30px;
  height: 30px;
}

.person-hover {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 12px;
}

.cursor-hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}